@font-face {
  font-family: 'italicFont';
  src: url('shopping-product-card/public/assets/fonts/RedHatText-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'FontMain';

  src: url('shopping-product-card\public\assets\fonts\RedHatText-VariableFont_wght.ttf') format('truetype');
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: FontMain, sans-serif;
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
  background-color: hsl(13, 31%, 94%);
}

h1 {
  font-size: 2.5rem;
  font-weight: bolder;

}

h2 {
  font-size: 2.2rem;

}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

span {
  color: hsl(14, 86%, 42%);
  font-size: 0.8rem;
  font-weight: 600;
}

.container {
  display: flex;
  margin: 0px auto;
  max-width: 90%;
}

/*Item Card*/
.cardItem {
  margin-right: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1.5rem;
  padding: 0;

}

.list {
  list-style: none;
  flex: 1 1 calc(30% - 1.5rem);


  align-items: center;

  border-radius: 1rem;

  padding: 1rem;
}

.list h2 {
  color: hsl(14, 65%, 9%);
  font-size: 15px;
}

.list p {
  color: hsl(12, 20%, 44%);
  font-size: 0.8rem;
}

.list img {
  width: 100%;
  height: auto;
  border-radius: 0.8rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: hsl(0, 0%, 100%);
  color: white;
  padding: 0.5rem 1.2rem;

  border: solid 1px hsl(14, 86%, 42%);
  border-radius: 999px;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.9rem;
  transition: all 0.3s ease;
  width: 100%;
}

.btn.clicked {
  padding: 0.5rem;
  justify-content: center;
}

.btn .icon {
  width: 20px;
  height: 20px;
}



.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  background-color: hsl(14, 86%, 42%);
  color: white;
  padding: 0.4rem 0.8rem;
  ;
  border-radius: 25px;
}

.counter-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  fill: white;

}

.counter-btn img {
  width: 0.5rem;
  height: 1rem;
  border: 1px solid white;
  color: rgb(255, 255, 255);
  padding: 2px 5px 2px 5px;

}

.counter-btn img:hover {
  background-color: hsl(14, 90%, 62%);
}


.counter-value {
  font-size: 0.8rem;
  color: white;
}

/*Shopping cart*/
.shopping {
  /* display: flex;
    flex-direction: column;
   align-items: center; */
  background-color: hsl(20, 50%, 98%);
  height: fit-content;

  margin-top: 2rem;
  padding: 1.3rem 1.5rem;
  width: 35%;
}

.cart-title {
  font-size: 1.1rem;
  color: hsl(14, 86%, 42%);
  font-weight: 900;
}

.cart-p {
  color: hsl(7, 20%, 60%);
  font-weight: 900;
  font-size: 0.7rem;
  text-align: center;
}

.shopping img {
  width: 4.5rem;
  height: 4.5rem;
  width: 100%;
}

.cart-item {
  display: flex;

  border-bottom: 1px solid hsl(13, 31%, 94%);
  flex-direction: column;
  margin-bottom: 1rem;
}

.cart-item h3 {
  color: hsl(14, 65%, 9%);
  font-size: 0.7rem;
  margin: 0px;

}

.cart-item img {
  width: 0.8rem;
  height: 0.8rem;
  align-self: flex-end;
  margin-bottom: -0.4rem;
  margin-top: -0.4rem;

}

.elements-cart {
  display: flex;
  gap: 1.4rem;

}

.elements-cart p {
  font-size: 0.7rem;

}

.elements-cart p:first-child {
  color: hsl(14, 86%, 42%);
  font-weight: 800;



}

.elements-cart p:last-child {
  color: hsl(12, 20%, 44%)
}
.cart-total{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-total p:first-child{
  color: hsl(14, 65%, 9%);
  font-size: 0.8rem;

}
.total-number{

  color: hsl(14, 65%, 9%);
  font-size: 1.2rem;
  font-weight: 900;
 
}
